@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <link rel="stylesheet" href="~/Assets/CSS/layui.css" />
    <script src="~/Assets/JS/layui.js"></script>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>系统首页</legend>
    </fieldset>

    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon layui-icon-website" style="margin-right:1%;"></i>网站在线访问统计</div>
                    <div class="layui-card-header">在线人数：<span style="float:right;">123</span></div>
                    <div class="layui-card-header">今日访问：<span style="float:right;">131</span></div>
                    <div class="layui-card-header">总访问数：<span style="float:right;">1001</span></div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon layui-icon-read" style="margin-right:1%;"></i>图书统计信息</div>
                    <div class="layui-card-header">图书总数：<span style="float:right;">1321</span></div>
                    <div class="layui-card-header">上架图书：<span style="float:right;">131</span></div>
                    <div class="layui-card-header">下架图书：<span style="float:right;">1001</span></div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon layui-icon-user" style="margin-right:1%;"></i>用户统计信息</div>
                    <div class="layui-card-header">用户数量：<span style="float:right;">1321</span></div>
                    <div class="layui-card-header">QQ登录：<span style="float:right;">131</span></div>
                    <div class="layui-card-header">今日注册：<span style="float:right;">1001</span></div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon layui-icon-notice" style="margin-right:1%;"></i>最新公告</div>
                    <div class="layui-card-header"><i class="layui-icon layui-icon-notice" ></i>最新公告</div>
                    <div class="layui-card-header"><i class="layui-icon layui-icon-notice" ></i>最新公告</div>
                    <div class="layui-card-header"><i class="layui-icon layui-icon-notice"></i>最新公告</div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">标题</div>
                    <div class="layui-card-body">
                        内容
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
