@{
    ViewData["title"] = "Index";
}

@section Header{
    <style>
        .book-info .guess ol li:hover, .book-info .guess ul li p em, .book-info .tags a, .book-list h2, .book-list ul li .intro a, .book-list ul li .update a, .bookshelf-list ul li .update a, .box1 .category li a:hover, .box2 .top-news li h4 a, .box3 .carousel-nav li .info span.type, .box3 .hot-book .more a, .box3 .rec-list ul li .info em, .box3 .rec-list ul li .intro a, .header .bookcase .iconfont, .header .bookcase a:hover, .header .search .search-btn, .news-info .book dd .update a, .news-info .cover .read a, .news-info .porn li a, .news-list ul li .text a, .search-list ul li .intro a, .search-list ul li .update a, .top-list > ul > li .intro a, .top-list > ul > li .update a, a:hover, .book-base .btns a, .show-more button, .search-list .result span, .search-list .result em, .book-info .review .more a:hover, .header .bookcase a, .bookshelf-list ul li .read a, .bookshelf-list ul li .del:hover {
            color: #00a9c9
        }

        .book-info .attentions h3::before, .book-info .chapters h3::before, .book-info .guess h3::before, .book-info .reading-content h3::before, .book-info .review h3::before, .book-list ul li .view, .book-nav ul li.on a, .box1 .banner-nav li.selected, .box3 .carousel-nav li .view, .box4 .new-book ol li.on, .chapter-header, .news-info .book dd .view, .pages a:hover, .pages b, .pages span.current, .top-nav ul li.on a, .book-base .btns .read-online a, .bookshelf-list ul li .pic i {
            background: #00a9c9
        }

        .show-more button:after, .show-more button:before {
            border-left: 2px solid #00a9c9;
            border-bottom: 2px solid #00a9c9
        }

        .footer {
            border-top: 2px solid #00a9c9
        }

        .pages b, .book-info .review .more a:hover, .pages a:hover, .bookshelf-list ul li .read a {
            border: 1px solid #00a9c9
        }

        .box1 .banner-nav li.selected:after {
            border-right: 10px solid #00a9c9
        }

        .news-info .content h3 {
            border-left: 3px solid #00a9c9
        }

        .book-info .guess ul li p em, .box1 .category li a:hover, .box3 .carousel-nav li .info span.type, .box3 .rec-list ul li .info em, .footer, .header .search .search-btn, .header .search .search-key, .news-info .content h3, .pages a:hover, .pages b, .book-base .btns .read-online a, .book-base .btns a, .pages span.current {
            border-color: #00a9c9
        }

        .book-info .base dd .btns li.read-online a:hover, .book-info .guess ol li.on {
            border: 1px solid #0297b3;
        }

        .book-list ul li .view:hover, .book-info .base dd .btns li.read-online a:hover, .news-info .book dd .view:hover, .book-info .guess ol li.on {
            background: #0297b3;
        }

        .book-info .tags a:hover {
            color: #0297b3;
        }
    </style>
}
<!--new header-->
<div class="header">
    <div class="inner">
        <div class="tophead">
            <!-- logo -->
            <div class="logo lf"><a href="https://www.ertongtuku.com/" title="二筒阅读网"><img src="~/images/logo.png"></a></div>
            <!-- 搜索 -->
            <div class="search lf">
                <form method="post" name="search" action="https://www.ertongtuku.com/index.php?g=Search" target="_blank">
                    <input type="text" name="q" id="q" placeholder="请输入书名/作者/标签" autocomplete="off" value="" class="search-key">
                    <button type="submit" class="search-btn" id="search-btn">
                        <i class="iconfont"></i>
                    </button>
                    <input type="hidden" name="modelid" value="14">
                </form>
            </div>
            <!-- 书架 -->
            <div class="bookcase rf"><a href="javascript:;"><i class="iconfont"></i>我的书架</a></div>
        </div>
    </div>
    <div class="inner">
        <div class="topnav">
            <ul>
                <li class="home on"><a href="https://www.ertongtuku.com/" title="首页">首页</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/nansheng/">男生频道</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/nvsheng/">女生频道</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/chapter/">最新小说</a></li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiandai/" title="现代言情">现代言情</a>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/gudai/" title="古代言情">古代言情</a>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/duanpian/" title="短篇言情">短篇言情</a>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/zongcai/" title="豪门总裁">豪门总裁</a>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/chuanyue/" title="穿越架空">穿越架空</a>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/tongren/" title="同人小说">同人小说</a>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/qingchun/" title="青春校园">青春校园</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--/new header-->
<!--container-->
<div class="container clearfix">
    <!--mod-->
    <div class="wrap box1 clearfix">
        <!--category-->
        <div class="category">
            <ul class="clearfix">
                <li><a href="https://www.ertongtuku.com/yuedu/dushi/" title="都市生活  大全">都市生活  </a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/xuanhuan/" title="玄幻科幻大全">玄幻科幻</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/chongsheng/" title="穿越重生大全">穿越重生</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/wuxia/" title="武侠仙侠  大全">武侠仙侠  </a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/xuanyi/" title="悬疑灵异大全">悬疑灵异</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/guanchang/" title="官场职场大全">官场职场</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/lishi/" title="历史军事大全">历史军事</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/youxi/" title="游戏竞技大全">游戏竞技</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/xiandai/" title="现代言情大全">现代言情</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/gudai/" title="古代言情大全">古代言情</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/duanpian/" title="短篇言情大全">短篇言情</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/zongcai/" title="豪门总裁大全">豪门总裁</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/chuanyue/" title="穿越架空大全">穿越架空</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/tongren/" title="同人小说大全">同人小说</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/qingchun/" title="青春校园大全">青春校园</a></li>
                <li><a href="https://www.ertongtuku.com/yuedu/xianxia/" title="仙侠奇缘大全">仙侠奇缘</a></li>
            </ul>
        </div>
        <!--focus-->
        <div class="focus">
            <div class="banner">
                <div class="banner-box">
                    <ul class="banner-img">
                        <li style="display: list-item;"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/36969.html" title="《唯愿时光不负情深》大结局免费阅读 《唯愿时光不负情深》最新章节目录" target="_blank"><img src="~/images/5ca1ba8dcfdcc.jpg" alt="唯愿时光不负情深"></a></li>
                        <li style="display: none;"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/36870.html" title="《一曲落尽半生情》完结版精彩阅读 颜夕江墨琛小说在线阅读" target="_blank"><img src="~/images/5ca1bae989373.jpg" alt="一曲落尽半生情"></a></li>
                        <li style="display: none;"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/36863.html" title="《许你看向我》最新章节 许你看向我岳城林真全文阅读" target="_blank"><img src="~/images/5ca1bbb7aef28.jpg" alt="许你看向我"></a></li>
                        <li style="display: none;"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/36827.html" title="《最美的遇见》最新章节 最美的遇见陌念顾遇年全文阅读" target="_blank"><img src="~/images/5ca1bbdbbdc3b.jpg" alt="最美的遇见"></a></li>
                        <li style="display: none;"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/36820.html" title="《龙魂兵王》完结版精彩阅读 陆铭霍玉凤小说在线阅读" target="_blank"><img src="~/images/5ca1bbeb623dc.jpg" alt="龙魂兵王"></a></li>
                    </ul>
                </div>
                <ul class="banner-nav">
                    <li class="selected">
                        <h4>唯愿时光不负情深</h4>
                    </li>
                    <li class="">
                        <h4>一曲落尽半生情</h4>
                    </li>
                    <li class="">
                        <h4>许你看向我</h4>
                    </li>
                    <li class="">
                        <h4>最美的遇见</h4>
                    </li>
                    <li class="">
                        <h4>龙魂兵王</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/box1-->
    <!--box2-->
    <div class="wrap box2 clearfix">
        <div class="top-news">
            <ul class="clearfix">
                <li>
                    <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45221.html" target="_blank">萌宠娇妻：总裁老公放肆爱by小芒果</a></h4>
                    <p>《萌宠娇妻：总裁老公放肆爱》是小芒果所编写的总裁豪门类小说，故事中的主角是许天依叶智浩，书中主要讲述了：两个人，一段情。多少相思，在不经意的时候，进入到了梦里，而他和她却仍是混然不知......且看这叶家豪门总裁怎么收服心软小女........</p>
                </li>
                <li>
                    <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45172.html" target="_blank">鬼夫当道：小妻别乱跑by水月月</a></h4>
                    <p>小说主人公是曲念南宫烈的小说叫做《鬼夫当道：小妻别乱跑》，是作者水月月所编写的灵异类小说，书中主要讲述了：自从参加了一场乔家寨的祭拜月神仪式后，我惹上了一只黑腹霸道又喜欢动手动脚的大鬼王。这时候，接迭而来的诡异事情接连发生，黑暗中阴灵蛰伏窥视，对我虎视眈眈。大鬼王借机把我吃光摸净还安慰我，娘子莫怕，万鬼敢挡道，本王定把他们灭成渣渣。 我呸！本姑娘可是法医学院的高材生，我先把你的真身找...</p>
                </li>
                <li>
                    <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45038.html" target="_blank">烟雨霏霏相思梦by红尘</a></h4>
                    <p>完整版小说《烟雨霏霏相思梦》由红尘所编写的现代言情风格的小说，本小说的主角宋七月慕战北，情节引人入胜，非常推荐。主要讲的是：宋七月守着那份爱，小心翼翼；从来没有想过能够走进他，可是最终却受不了，他伸出手，要自己嫁给他的蛊惑，毕竟喜欢他，爱他，后来，她跌进这万劫不复的深渊里，死无葬身之地。...</p>
                </li>
            </ul>
        </div>
    </div>
    <!--/box2-->
    <!--box3-->
    <div class="wrap box3 clearfix">
        <div class="rec-book">
            <h3>编辑推荐</h3>
            <div id="carousel1" class="carousel">
                <div class="carousel-img">
                    <img class="lazy on" src="~/images/thumb_200_266_1o1mrl1ddi0.jpg" data-url="/yuedu/xiaoshuo/45238.html" alt="死里逃笙" style="transform: translateZ(0px); height: 120px; margin-top: -60px; opacity: 1;" onclick="location.href=&#39;/yuedu/xiaoshuo/45238.html&#39;"><img class="lazy" src="~/images/thumb_200_266_4edqb51g0qe.jpg" data-url="/yuedu/xiaoshuo/45216.html" alt="霸道老公宠妻上瘾" style="transform: translateX(90px) translateZ(-90px) rotateY(-25deg); height: 120px; margin-top: -60px; opacity: 0.6;"><img class="lazy" src="~/images/thumb_200_266_mli1udyny1q.jpg" data-url="/yuedu/xiaoshuo/45132.html" alt="boss爹地淡定妻" style="transform: translateX(-90px) translateZ(-90px) rotateY(25deg); height: 120px; margin-top: -60px; opacity: 0.6;">
                </div>
                <ul class="carousel-nav">
                    <li class="on">
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45238.html" target="_blank">死里逃笙</a></h4>
                        <p class="author">沫沫沫儿</p>
                        <p class="info">
                            <span class="type">豪门总裁</span>
                        </p>
                        <p class="intro">独家小说《死里逃笙》由沫沫沫儿所编写的总裁豪门类型的小说，主角锦笙龙泽衍，情节引人入胜，非常推荐。主要讲的是：曾经她是一个生活在温室中的公主，十六岁之后却突然从天堂跃进地狱，变成属于一人的床上玩物。曾经他是一个备受羡慕的天才少年，十九岁那年却一夜之间双手沾满鲜血，从此在命运与灵魂之间垂死挣扎。许是天意弄人，许是命中注定，两个人的命运开始彼此纠缠。爱不能，恨不能，她只有在他身边努力成长，将...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45238.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45216.html" target="_blank">霸道老公宠妻上瘾</a></h4>
                        <p class="author">兰宝伊</p>
                        <p class="info">
                            <span class="type">豪门总裁</span>
                        </p>
                        <p class="intro">小说主人公是顾知梦韩安烈的小说叫《霸道老公宠妻上瘾》，它的作者是兰宝伊写的一本总裁豪门类小说，内容主要讲述：顾知梦的母亲顾梅雪并不是她的生母，顾梅雪以前是一个富豪家庭的从小收养的女佣，后来那家庭出事，全家人都要被抓，顾知梦的母亲年雅落不想连累自己刚出生的女儿，就拜托给了顾梅雪照顾，而自己在入狱几天后，被一直追求她的雷光钧用关系救出去，并且强迫的两个人在一起了，生下一个女儿雷倾夏。...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45216.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45132.html" target="_blank">boss爹地淡定妻</a></h4>
                        <p class="author">落叶</p>
                        <p class="info">
                            <span class="type">豪门总裁</span>
                        </p>
                        <p class="intro">火爆新书《boss爹地淡定妻》由落叶最新写的一本总裁豪门类小说，主角林浅夏苏慕城，文中的爱情故事凄美而纯洁，文笔极佳，实力推荐。小说精彩段落试读：唉！人倒霉起来就连凉水都塞牙！她，林浅夏，林氏集团大小姐，因为男友背叛酒吧买醉，稀里糊涂的和自家公司的死对头苏氏跨国集团执行总裁苏慕城发生一个意外，事后仓皇逃离。        他，苏慕城，苏氏集团总裁，和一个女人在一起了，第二天醒来发现那个死女人竟然跑了！苏慕城怒极反笑，很好！...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45132.html" target="_blank">小说详情</a>
                    </li>
                </ul>
            </div>
            <div class="rec-list">
                <ul>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45171.html" target="_blank"><img class="lazy" src="~/images/cdbbthkumsz.jpg" alt="入戏太深：总裁很痴情"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45171.html" target="_blank">入戏太深：总裁很痴情</a></h5>
                        <p class="intro">主角叫沈琛渊楚蕴舒的小说叫做《入戏太深：总裁很痴情》，这本小说的作者是雪天吃雪糕写的一本现代言情类小说，文中的爱情故事凄美而纯洁，文笔极佳，实力推荐。小说精彩段落试读：“过来。”沈琛渊悠闲地坐在床上，眼皮子都没抬一下。“干吗？”楚蕴舒小心翼翼看向他，看着那嘴角似有似无的笑意便知道肯定没好事，“我……我告诉你……这次我宁死不从，别想让我给你暖床！”听着楚蕴舒这番豪言壮志，沈琛渊饶有兴致地抬了头看向她，“恩？”他合上书，语音上扬，眸中划过一丝笑意。...</p>
                        <p class="info"><span>作者：雪天吃雪糕</span><em>现代言情</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45090.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_cuqjjzd43my.jpg" alt="冷婚热爱：总裁的二手新妻"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45090.html" target="_blank">冷婚热爱：总裁的二手新妻</a></h5>
                        <p class="intro">独家完整版小说《冷婚热爱：总裁的二手新妻》由漫妖娆倾心创作的一本现言风格的小说，本小说的主角苏映雪厉封爵，书中主要讲述了：遇到他之前，她为了叶晟泽可以不顾一切，哪怕清白。遇到他后，他将她困住墙壁和手腕之间，逼问：“你还想继续等着他回头？”苏映雪涩涩一笑：“我没那么犯贱。”厉封爵低头，吻上她的唇……传言商界霸主厉封爵为了一个女人不顾一切，众叛亲离。窝在他的臂弯中，苏映雪娇笑：“厉先生，你怎么看？”他暧...</p>
                        <p class="info"><span>作者：漫妖娆</span><em>现代言情</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45083.html" target="_blank"><img class="lazy" src="~/images/awofdwkzpt2.jpg" alt="恶魔总裁"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45083.html" target="_blank">恶魔总裁</a></h5>
                        <p class="intro">精品小说《恶魔总裁》是千寻倾心创作的一本现代言情类型的小说，故事中的主角是林温祎慕思哲，情节引人入胜，非常推荐。主要讲的是：S市，盛乐大酒店“你是谁？怎么会在我房间内？”林温祎惊恐的瞪大眼睛看着眼前的男人。“这是本少的房间！”慕思哲居高临下地看着林温祎，这个女人的反应令他惊讶，出来做这一行的女人居然不主动讨好自己，难道不想多拿点钱么？...</p>
                        <p class="info"><span>作者：千寻</span><em>现代言情</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45079.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_wfaiu3wadsu.jpg" alt="透视小医仙"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45079.html" target="_blank">透视小医仙</a></h5>
                        <p class="intro">主人公叫张小凡李琳琳的小说是《透视小医仙》，本小说的作者是惜墨写的一本都市类型的小说，情节引人入胜，非常推荐。主要讲的是：城市套路深，我要回老家，老家道路远，套路更加险，医科大学毕业生张小凡回家种田，偶获奇遇，开启逆袭之旅，看病救人、拳打恶霸、各界牛人给他下地干活，美女老板采购他的蔬菜，没事装装逼，小日子过得有滋有味。...</p>
                        <p class="info"><span>作者：惜墨</span><em>都市生活  </em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45073.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_scnmaarhaj0.jpg" alt="试婚100天：心机总裁套路深"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45073.html" target="_blank">试婚100天：心机总裁套路深</a></h5>
                        <p class="intro">《试婚100天：心机总裁套路深》是由作者西门龙霆著作的现代言情类小说，作者文笔极佳，题材新颖，推荐阅读。《试婚100天：心机总裁套路深》精彩节选：季安安微微磕开眼，闻到一股浓重的邪恶气息。季安安喝了多少酒？完全不记得她怎么爬上这张床。“放开……”但男人并没有理会她，继续着自己的动作，旖旎一夜。翌日醒来她独自躺在总统套房的奢华大床上，仿佛被玩残的布偶。稍微动一动身体，腿间的酸涩就让她倒抽冷气。好痛啊。季安安强支着身子下床，头...</p>
                        <p class="info"><span>作者：西门龙霆</span><em>现代言情</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45030.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_xgakab45m5n.jpg" alt="总裁独宠心尖宝"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45030.html" target="_blank">总裁独宠心尖宝</a></h5>
                        <p class="intro">《总裁独宠心尖宝》是公子居著作的总裁豪门小说，故事很有深意，值得一看。《总裁独宠心尖宝》精彩章节节选：江流遇见傅城勋的时候，是在南城的第三年。她站在了他的身边，成为南城女人艳羡的对象。半年之后，他又将她随手抛弃，让她成了整个南城的笑话。再相逢的时候，她身边多了一个孩子。“说，那是谁的孩子？！”他咬牙切齿。“他可以姓张姓王，唯独不会姓傅。”...</p>
                        <p class="info"><span>作者：公子居</span><em>豪门总裁</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45027.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5cef833be3602.jpg" alt="蝮青"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45027.html" target="_blank">蝮青</a></h5>
                        <p class="intro">《蝮青》小说简介《蝮青》是由作者银花火树写的一本都市言情类小说，作者文笔极佳，题材新颖，推荐阅读。《蝮青》精彩章节节选：一场重病，让我怀胎十月，孩子他爹是条蛇：东北出马仙，一个女弟马的真实故事……...《蝮青》第十七章：牡丹花下死免费试读“什么银花教主？”我好奇的转头看了一眼我身边的柳龙庭。柳龙庭可能是意识到了这个绝美的女人认错了人，牵着我向着这女人走过去了几步，说：“二姐，她是我的弟马，叫白静，...</p>
                        <p class="info"><span>作者：银花火树</span><em>短篇言情</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/44994.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5cef70796735c.jpg" alt="荆棘中的爱"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44994.html" target="_blank">荆棘中的爱</a></h5>
                        <p class="intro">《荆棘中的爱》小说简介主角是顾俊庭白洁的书名叫《荆棘中的爱》，本小说的作者是木碗不青最新写的一本现代言情风格的小说，情节引人入胜，非常推荐。主要讲的是：白洁第一次知道爱是什么东西的时候，她就知道自己爱上了顾俊庭。她爱他，爱到全世界都知道，爱到遍体鳞伤，却只能换回他无尽的冷漠。...《荆棘中的爱》第1章重见天日免费试读“桌子上放了离婚协议，签了它。”顾俊庭的声音犹如寒冰深深地扎进白洁的心。白洁强忍着...</p>
                        <p class="info"><span>作者：木碗不青</span><em>现代言情</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/44987.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_4mwhtn3cb4v.jpg" alt="天降萌宝：总裁爹地放肆宠"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44987.html" target="_blank">天降萌宝：总裁爹地放肆宠</a></h5>
                        <p class="intro">甜宠新书《天降萌宝：总裁爹地放肆宠》是瑟瑟爱最新写的一本豪门总裁类小说，这本小说的主角是白纤纤厉凌烨，文中的爱情故事凄美而纯洁，文笔极佳，实力推荐。小说精彩段落试读：男神要婚了，不甘心的白纤纤夜上男神的床一夜疯狂，嫁不了男神，就生个小男神相依为命也知足。    没想到，小男神真有了，可亲爹却另有其人。    ……    “白纤纤，你还想往哪逃？”    “厉凌烨，我是你弟弟孩子的妈咪，你要不要脸？”    厉凌烨如狼般的扑过去，“要人不要脸。...</p>
                        <p class="info"><span>作者：瑟瑟爱</span><em>现代言情</em></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="latest-news">
            <h3>小说资讯</h3>
            <ul>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130612.html" target="_blank" title="第7章 最大的屈辱！">陌路情疏原芯柔修天澈目录 陌路情疏小说阅读</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130611.html" target="_blank" title="第3章 当我的女人">《佳期可期》小说全文精彩阅读 《佳期可期》最新章节目录</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130610.html" target="_blank" title="第14章 想让人用钱砸">佳期可期免费试读 墨冰殇夜南絮小说章节目录</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130609.html" target="_blank" title="第16章 紧紧相贴">《佳期可期》(墨冰殇夜南絮)小说阅读by小肉粽</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130608.html" target="_blank" title="第8章 来个坟头草比爹地还高的家伙">佳期可期主角墨冰殇夜南絮全文精彩内容在线试读</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130607.html" target="_blank" title="第七章 马上炒了你">宠妻无度：陆少的千金大小姐宠妻无度：陆少的千金大小姐小说 乔洛萧景深在线阅读</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130606.html" target="_blank" title="第一十六章 要给男人留面子">乔洛萧景深全文目录 宠妻无度：陆少的千金大小姐免费章节阅读</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130605.html" target="_blank" title="第一十二章 抱歉，我身体不适">宠妻无度：陆少的千金大小姐乔洛萧景深小说大结局免费试读</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130604.html" target="_blank" title="第一十四章 不对劲的保镖">乔洛萧景深by东西南北 宠妻无度：陆少的千金大小姐在线阅读</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130603.html" target="_blank" title="第三章 欠我的生日快乐">《宠妻无度：陆少的千金大小姐》乔洛萧景深章节在线阅读</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130602.html" target="_blank" title="第14章  成了落汤鸡">《婚途似锦：首席别乱来》小说最新章节免费阅读（精彩章节未删节）</a></li>
                <li><em>05-31</em><a href="https://www.ertongtuku.com/yuedu/chapter/130601.html" target="_blank" title="第4章  应验了吧">《婚途似锦：首席别乱来》(程纯纯萧腾)小说阅读by寒江雪</a></li>
            </ul>
        </div>
    </div>
    <div class="wrap box3 clearfix">
        <div class="rec-book">
            <h3>热门小说</h3>
            <div id="carousel2" class="carousel">
                <div class="carousel-img">
                    <img class="lazy on" src="~/images/thumb_200_266_edjgcsxq4kg.jpg" data-url="/yuedu/xiaoshuo/45257.html" alt="弑天狂刀" style="transform: translateZ(0px); height: 120px; margin-top: -60px; opacity: 1;" onclick="location.href=&#39;/yuedu/xiaoshuo/45257.html&#39;"><img class="lazy" src="~/images/thumb_200_266_kjquyzwt4be.png" data-url="/yuedu/xiaoshuo/45256.html" alt="搬尸工" style="transform: translateX(90px) translateZ(-90px) rotateY(-25deg); height: 120px; margin-top: -60px; opacity: 0.6;"><img class="lazy" src="~/images/thumb_200_266_ahnvstyqy3n.jpg" data-url="/yuedu/xiaoshuo/45255.html" alt="战龙强婿" style="transform: translateX(0px) translateZ(-1000px) rotateY(-25deg);"><img class="lazy" src="~/images/thumb_200_266_hvflpa0d4vn.jpg" data-url="/yuedu/xiaoshuo/45254.html" alt="陌路情疏" style="transform: translateX(0px) translateZ(-1000px) rotateY(-25deg);"><img class="lazy" src="~/images/thumb_200_266_yv3omejisrv.jpg" data-url="/yuedu/xiaoshuo/45253.html" alt="绝色冷妃：王爷哪里逃" style="transform: translateX(0px) translateZ(-1000px) rotateY(-25deg);"><img class="lazy" src="~/images/thumb_200_266_xbmqr3lx1zb.jpg" data-url="/yuedu/xiaoshuo/45252.html" alt="盛世独宠：冷情总裁小蛮妻" style="transform: translateX(0px) translateZ(-1000px) rotateY(-25deg);"><img class="lazy" src="~/images/thumb_200_266_mdt01bfy00t.jpg" data-url="/yuedu/xiaoshuo/45251.html" alt="佳期可期" style="transform: translateX(0px) translateZ(-1000px) rotateY(25deg);"><img class="lazy" src="~/images/thumb_200_266_to1hx50xu1c.png" data-url="/yuedu/xiaoshuo/45250.html" alt="一日成欢，顾少别想跑" style="transform: translateX(0px) translateZ(-1000px) rotateY(25deg);"><img class="lazy" src="~/images/thumb_200_266_anu002531yy.jpg" data-url="/yuedu/xiaoshuo/45249.html" alt="宠妻无度：陆少的千金大小姐" style="transform: translateX(0px) translateZ(-1000px) rotateY(25deg);"><img class="lazy" src="~/images/thumb_200_266_avuxi02up5k.jpg" data-url="/yuedu/xiaoshuo/45248.html" alt="亿万爹地宠不休" style="transform: translateX(-90px) translateZ(-90px) rotateY(25deg); height: 120px; margin-top: -60px; opacity: 0.6;">
                </div>
                <ul class="carousel-nav">
                    <li class="on">
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45257.html" target="_blank">弑天狂刀</a></h4>
                        <p class="author">傲天无痕</p>
                        <p class="info">
                            <span class="type">玄幻科幻</span>

                        </p>
                        <p class="intro">主人公叫谢傲冰舞宇的书名叫《弑天狂刀》，它的作者是傲天无痕所编写的玄幻小说，内容主要讲述：一个被人瞧不起的武学废材，怪胎谢傲宇本无法修炼斗气，意外得到一枚神秘的神丹。命运转折，得到上天王刀，感悟生命真谛，独创时间斗技、空间斗技，决战上古大家族，在奇奥大陆翻手为云覆手为雨，开创刀狂啸天，万世臣服的辉煌篇章。...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45257.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45256.html" target="_blank">搬尸工</a></h4>
                        <p class="author">陈十三</p>
                        <p class="info">
                            <span class="type">悬疑灵异</span>

                        </p>
                        <p class="intro">独家完整版小说《搬尸工》是陈十三最新写的一本灵异类型的小说，本小说的主角叶子韩雪，书中主要讲述了：二十三年前， 父亲离奇死亡。  他的人皮， 被挂在村口的那棵老槐树上。  二十三年后， 当年被过继出去的大哥回来。...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45256.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45255.html" target="_blank">战龙强婿</a></h4>
                        <p class="author">长生</p>
                        <p class="info">
                            <span class="type">都市生活  </span>

                        </p>
                        <p class="intro">主人公叫秦风林梦雪的小说叫做《战龙强婿》，是作者长生倾心创作的一本都市小说，书中主要讲述了：封号战龙的秦风，原本是世界上最强大的雇佣军团团长，因为遭人陷害，一身功夫不能施展，变成了一个废物，为了避难，找到了当年跟自己订婚的林家寻求庇护。经历三年的蛰伏，秦风终于恢复了过来，他要这天，只为他亮，他要翻手为云，覆手为雨。...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45255.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45254.html" target="_blank">陌路情疏</a></h4>
                        <p class="author">江沫希</p>
                        <p class="info">
                            <span class="type">现代言情</span>

                        </p>
                        <p class="intro">主角叫原芯柔修天澈的小说是《陌路情疏》，本小说的作者是江沫希创作的现代言情类小说，内容主要讲述：结婚三年，也演了三年的戏。人前微笑，人后形同陌路。她只是他的门面，一个他操纵的玩偶。她有的，只有微凉的月光与空旷大床。 “我要离婚！” 他欺近她的耳边，发狠的低吼,“原芯柔，你想死么？” 她微笑开来,“是啊，我真的想死。” 爱，有过么？或许已经忘了如何去恨！...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45254.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45253.html" target="_blank">绝色冷妃：王爷哪里逃</a></h4>
                        <p class="author">千羽</p>
                        <p class="info">
                            <span class="type">古代言情</span>

                        </p>
                        <p class="intro">主角是墨汐洛宇的小说叫做《绝色冷妃：王爷哪里逃》，本小说的作者是千羽倾心创作的一本古代言情类型的小说，书中主要讲述了：初见！她素衣飘珏，清冷容颜惊鸿一瞥，他身负重伤，只身一人被她所救，三里桃花轻歌漫舞，唯有他是她一生所依，可惜，儿女之情终究抵不过复国之心，国破山河，男儿自当为国出征，她终是违背了对师傅的承诺，素衣丢弃，从此为他一身沙场银装无情，那一日，她只身一人满.....</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45253.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45252.html" target="_blank">盛世独宠：冷情总裁小蛮妻</a></h4>
                        <p class="author">宇宙无敌美少女</p>
                        <p class="info">
                            <span class="type">豪门总裁</span>

                        </p>
                        <p class="intro">小说主人公是叶迦衣杜子爵的小说叫做《盛世独宠：冷情总裁小蛮妻》，这本小说的作者是宇宙无敌美少女所编写的总裁豪门类小说，情节引人入胜，非常推荐。主要讲的是：她从小加入秘密组织，却因家族逼婚而离家出走。执行任务失败可又偏偏讲不清楚自己的身份被他扣留在身边……...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45252.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45251.html" target="_blank">佳期可期</a></h4>
                        <p class="author">小肉粽</p>
                        <p class="info">
                            <span class="type">现代言情</span>

                        </p>
                        <p class="intro">小说主人公是墨冰殇夜南絮的小说叫做《佳期可期》，本小说的作者是小肉粽最新写的一本现代言情类型的小说，书中主要讲述了：“你不可能是我爹地，妈咪说爹地已经死了，还是跳楼自杀，脑瓜子像是西瓜般砰的碎开，脑浆撒落一地，现在坟头草都都已经有我这么高了。”某个女人胆很肥，敢说堂堂墨少跳楼自杀，尸骨无存。待他归来，强势把女人压在床上，邪佞一笑：“女人，你到处说我死了？”...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45251.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45250.html" target="_blank">一日成欢，顾少别想跑</a></h4>
                        <p class="author">佚名</p>
                        <p class="info">
                            <span class="type">现代言情</span>

                        </p>
                        <p class="intro">小说主人公是夏欣蓝顾云琛的小说叫做《一日成欢，顾少别想跑》，这本小说的作者是佚名倾心创作的一本现代言情类型的小说，情节引人入胜，非常推荐。主要讲的是：次日。海城，张家大宅。她深吸了一口气，正要推开大门，面前却突然闪现出了一张和她一模一样的脸来。...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45250.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45249.html" target="_blank">宠妻无度：陆少的千金大小姐</a></h4>
                        <p class="author">东西南北</p>
                        <p class="info">
                            <span class="type">豪门总裁</span>

                        </p>
                        <p class="intro">独家完整版小说《宠妻无度：陆少的千金大小姐》由东西南北所编写的总裁豪门风格的小说，故事中的主角是乔洛萧景深，书中主要讲述了：乔洛做梦也没想到，跟在自己身边十年的男人，竟然是Ａ市顶级财阀！那个传闻中尊贵冷酷，不近女色，富可敌国的总裁萧景深！她被绑受伤，他如天神降临，拯救她脱离危险；渣男贱女作妖，他挡在她身前：谁给你的胆子欺负我的人？他以私人保镖的身份待在她身边，护着她的人，也守着她的心。但是——“萧景深...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45249.html" target="_blank">小说详情</a>
                    </li>
                    <li>
                        <h4><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45248.html" target="_blank">亿万爹地宠不休</a></h4>
                        <p class="author">抓鱼吃啦</p>
                        <p class="info">
                            <span class="type">豪门总裁</span>

                        </p>
                        <p class="intro">主角是季夜铭江晚晚的小说叫《亿万爹地宠不休》，它的作者是抓鱼吃啦倾心创作的一本总裁豪门风格的小说，情节引人入胜，非常推荐。主要讲的是：五年前，遭渣男贱女陷害，江晚晚同陌生男人共度一晚，变得一无所有。五年后，她携带一双儿女霸气归来，手撕贱女，脚踢渣男，摇身一变成为万众瞩目的影后。不过那个帝国最尊贵的男人是怎么回事？不仅说他是孩子的爹地，还天天调戏的她脸红心跳，甚至还要把她拐回家当老婆！某日，季大总裁不小心听到自家...</p>
                        <a class="view" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45248.html" target="_blank">小说详情</a>
                    </li>
                </ul>
            </div>
            <div class="rec-list">
                <ul>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45254.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_hvflpa0d4vn.jpg" alt="陌路情疏"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45254.html" target="_blank">陌路情疏</a></h5>
                        <p class="intro">主角叫原芯柔修天澈的小说是《陌路情疏》，本小说的作者是江沫希创作的现代言情类小说，内容主要讲述：结婚三年，也演了三年的戏。人前微笑，人后形同陌路。她只是他的门面，一个他操纵的玩偶。她有的，只有微凉的月光与空旷大床。 “我要离婚！” 他欺近她的耳边，发狠的低吼,“原芯柔，你想死么？” 她微笑开来,“是啊，我真的想死。” 爱，有过么？或许已经忘了如何去恨！...</p>
                        <p class="info"><span>作者：江沫希</span><em>现代言情</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45253.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_yv3omejisrv.jpg" alt="绝色冷妃：王爷哪里逃"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45253.html" target="_blank">绝色冷妃：王爷哪里逃</a></h5>
                        <p class="intro">主角是墨汐洛宇的小说叫做《绝色冷妃：王爷哪里逃》，本小说的作者是千羽倾心创作的一本古代言情类型的小说，书中主要讲述了：初见！她素衣飘珏，清冷容颜惊鸿一瞥，他身负重伤，只身一人被她所救，三里桃花轻歌漫舞，唯有他是她一生所依，可惜，儿女之情终究抵不过复国之心，国破山河，男儿自当为国出征，她终是违背了对师傅的承诺，素衣丢弃，从此为他一身沙场银装无情，那一日，她只身一人满.....</p>
                        <p class="info"><span>作者：千羽</span><em>古代言情</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45252.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_xbmqr3lx1zb.jpg" alt="盛世独宠：冷情总裁小蛮妻"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45252.html" target="_blank">盛世独宠：冷情总裁小蛮妻</a></h5>
                        <p class="intro">小说主人公是叶迦衣杜子爵的小说叫做《盛世独宠：冷情总裁小蛮妻》，这本小说的作者是宇宙无敌美少女所编写的总裁豪门类小说，情节引人入胜，非常推荐。主要讲的是：她从小加入秘密组织，却因家族逼婚而离家出走。执行任务失败可又偏偏讲不清楚自己的身份被他扣留在身边……...</p>
                        <p class="info"><span>作者：宇宙无敌美少女</span><em>豪门总裁</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45251.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_mdt01bfy00t.jpg" alt="佳期可期"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45251.html" target="_blank">佳期可期</a></h5>
                        <p class="intro">小说主人公是墨冰殇夜南絮的小说叫做《佳期可期》，本小说的作者是小肉粽最新写的一本现代言情类型的小说，书中主要讲述了：“你不可能是我爹地，妈咪说爹地已经死了，还是跳楼自杀，脑瓜子像是西瓜般砰的碎开，脑浆撒落一地，现在坟头草都都已经有我这么高了。”某个女人胆很肥，敢说堂堂墨少跳楼自杀，尸骨无存。待他归来，强势把女人压在床上，邪佞一笑：“女人，你到处说我死了？”...</p>
                        <p class="info"><span>作者：小肉粽</span><em>现代言情</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45250.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_to1hx50xu1c.png" alt="一日成欢，顾少别想跑"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45250.html" target="_blank">一日成欢，顾少别想跑</a></h5>
                        <p class="intro">小说主人公是夏欣蓝顾云琛的小说叫做《一日成欢，顾少别想跑》，这本小说的作者是佚名倾心创作的一本现代言情类型的小说，情节引人入胜，非常推荐。主要讲的是：次日。海城，张家大宅。她深吸了一口气，正要推开大门，面前却突然闪现出了一张和她一模一样的脸来。...</p>
                        <p class="info"><span>作者：佚名</span><em>现代言情</em></p>
                    </li>
                    <li>
                        <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45249.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_anu002531yy.jpg" alt="宠妻无度：陆少的千金大小姐"></a>
                        <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45249.html" target="_blank">宠妻无度：陆少的千金大小姐</a></h5>
                        <p class="intro">独家完整版小说《宠妻无度：陆少的千金大小姐》由东西南北所编写的总裁豪门风格的小说，故事中的主角是乔洛萧景深，书中主要讲述了：乔洛做梦也没想到，跟在自己身边十年的男人，竟然是Ａ市顶级财阀！那个传闻中尊贵冷酷，不近女色，富可敌国的总裁萧景深！她被绑受伤，他如天神降临，拯救她脱离危险；渣男贱女作妖，他挡在她身前：谁给你的胆子欺负我的人？他以私人保镖的身份待在她身边，护着她的人，也守着她的心。但是——“萧景深...</p>
                        <p class="info"><span>作者：东西南北</span><em>豪门总裁</em></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hot-tags">
            <h3>热门专题</h3>
            <p class="clearfix">
                <a href="https://www.ertongtuku.com/yuedu/zt/23.html" title="现代小说" target="_blank">现代小说</a><a href="https://www.ertongtuku.com/yuedu/zt/7.html" title="虐恋小说" target="_blank">虐恋小说</a><a href="https://www.ertongtuku.com/yuedu/zt/1.html" title="言情小说" target="_blank">言情小说</a><a href="https://www.ertongtuku.com/yuedu/zt/5.html" title="贵族小说" target="_blank">贵族小说</a><a href="https://www.ertongtuku.com/yuedu/zt/16.html" title="都市小说" target="_blank">都市小说</a><a href="https://www.ertongtuku.com/yuedu/zt/25.html" title="总裁小说" target="_blank">总裁小说</a><a href="https://www.ertongtuku.com/yuedu/zt/6.html" title="穿越小说" target="_blank">穿越小说</a><a href="https://www.ertongtuku.com/yuedu/zt/4.html" title="宫廷小说" target="_blank">宫廷小说</a><a href="https://www.ertongtuku.com/yuedu/zt/2.html" title="古言小说" target="_blank">古言小说</a><a href="https://www.ertongtuku.com/yuedu/zt/24.html" title="豪门小说" target="_blank">豪门小说</a><a href="https://www.ertongtuku.com/yuedu/zt/15.html" title="奇幻小说" target="_blank">奇幻小说</a><a href="https://www.ertongtuku.com/yuedu/zt/3.html" title="古装小说" target="_blank">古装小说</a><a href="https://www.ertongtuku.com/yuedu/zt/11.html" title="重生小说" target="_blank">重生小说</a><a href="https://www.ertongtuku.com/yuedu/zt/8.html" title="架空小说" target="_blank">架空小说</a><a href="https://www.ertongtuku.com/yuedu/zt/21.html" title="仙侠小说" target="_blank">仙侠小说</a><a href="https://www.ertongtuku.com/yuedu/zt/17.html" title="历史小说" target="_blank">历史小说</a><a href="https://www.ertongtuku.com/yuedu/zt/9.html" title="武侠小说" target="_blank">武侠小说</a><a href="https://www.ertongtuku.com/yuedu/zt/22.html" title="科幻小说" target="_blank">科幻小说</a><a href="https://www.ertongtuku.com/yuedu/zt/10.html" title="宫斗小说" target="_blank">宫斗小说</a><a href="https://www.ertongtuku.com/yuedu/zt/20.html" title="游戏小说" target="_blank">游戏小说</a><a href="https://www.ertongtuku.com/yuedu/zt/13.html" title="灵异小说" target="_blank">灵异小说</a><a href="https://www.ertongtuku.com/yuedu/zt/18.html" title="校园小说" target="_blank">校园小说</a><a href="https://www.ertongtuku.com/yuedu/zt/12.html" title="悬疑小说" target="_blank">悬疑小说</a><a href="https://www.ertongtuku.com/yuedu/zt/14.html" title="玄幻小说" target="_blank">玄幻小说</a>
            </p>
        </div>
    </div>
    <!--/box3-->
    <!--box4-->
    <div class="wrap box4 clearfix">

        <div class="new-book" style="margin-top:0">
            <h3>最新小说</h3>
            <ol class="clearfix">
                <li class="on">全部</li>
                <li>现代言情</li>
                <li>古代言情</li>
                <li>短篇言情</li>
                <li>豪门总裁</li>
                <li>穿越架空</li>
                <li>同人小说</li>
                <li>青春校园</li>
                <li>仙侠奇缘</li>
            </ol>
            <ul class="clearfix">
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45257.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_edjgcsxq4kg.jpg" alt="弑天狂刀"><span>弑天狂刀</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45256.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_kjquyzwt4be.png" alt="搬尸工"><span>搬尸工</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45255.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_ahnvstyqy3n.jpg" alt="战龙强婿"><span>战龙强婿</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45254.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_hvflpa0d4vn.jpg" alt="陌路情疏"><span>陌路情疏</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45253.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_yv3omejisrv.jpg" alt="绝色冷妃：王爷哪里逃"><span>绝色冷妃：王爷哪里逃</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45252.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_xbmqr3lx1zb.jpg" alt="盛世独宠：冷情总裁小蛮妻"><span>盛世独宠：冷情总裁小蛮妻</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45251.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_mdt01bfy00t.jpg" alt="佳期可期"><span>佳期可期</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45250.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_to1hx50xu1c.png" alt="一日成欢，顾少别想跑"><span>一日成欢，顾少别想跑</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45249.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_anu002531yy.jpg" alt="宠妻无度：陆少的千金大小姐"><span>宠妻无度：陆少的千金大小姐</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45248.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_avuxi02up5k.jpg" alt="亿万爹地宠不休"><span>亿万爹地宠不休</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45247.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_0eoc4500rpx.jpg" alt="婚途似锦：首席别乱来"><span>婚途似锦：首席别乱来</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45246.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_ngiotkwqqqn.jpg" alt="超级保安在都市"><span>超级保安在都市</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45245.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_dbjthqnrmpo.jpg" alt="婚情几许：前夫，请自重"><span>婚情几许：前夫，请自重</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45244.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_h5k32vg2mp1.jpg" alt="恶魔宝宝：敢惹我妈咪试试！"><span>恶魔宝宝：敢惹我妈咪试试！</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45243.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_uymuhd4qlzl.jpg" alt="恋上你的温柔"><span>恋上你的温柔</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45242.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_403bycewvyd.jpg" alt="极品神医混花都"><span>极品神医混花都</span></a>
                    <i class="serial"></i>
                </li>
            </ul>

            <ul class="clearfix" style="display: none;">

                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45254.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_hvflpa0d4vn.jpg" alt="陌路情疏"><span>陌路情疏</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45251.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_mdt01bfy00t.jpg" alt="佳期可期"><span>佳期可期</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45250.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_to1hx50xu1c.png" alt="一日成欢，顾少别想跑"><span>一日成欢，顾少别想跑</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45245.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_dbjthqnrmpo.jpg" alt="婚情几许：前夫，请自重"><span>婚情几许：前夫，请自重</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45243.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_uymuhd4qlzl.jpg" alt="恋上你的温柔"><span>恋上你的温柔</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45240.html" target="_blank"><img class="lazy" src="~/images/nd1i3irn2y2.jpg" alt="殿上欢"><span>殿上欢</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45239.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_s402stusj5v.jpg" alt="唯你不可辜负"><span>唯你不可辜负</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45236.html" target="_blank"><img class="lazy" src="~/images/0dksomhkrha.jpg" alt="奉子闪婚：鲜妻不准逃"><span>奉子闪婚：鲜妻不准逃</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45235.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_hi3jthqdahb.jpg" alt="染爱成瘾：狼少枭宠小甜妻"><span>染爱成瘾：狼少枭宠小甜妻</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45234.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_4gl52pzwcsc.jpg" alt="1号娇妻：傲娇BOSS请克制"><span>1号娇妻：傲娇BOSS请克制</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45233.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5cf0e1d7f0642.jpg" alt="影后归来：叶少的全民女神"><span>影后归来：叶少的全民女神</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45231.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_vvyb0pd41yj.jpg" alt="第一夫人：影后多娇"><span>第一夫人：影后多娇</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45228.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_1tkrbswlwmi.jpg" alt="如若故人归"><span>如若故人归</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45218.html" target="_blank"><img class="lazy" src="~/images/4exr4wnoxqs.jpg" alt="梦醒时分"><span>梦醒时分</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45211.html" target="_blank"><img class="lazy" src="~/images/jblz2n1s4kh.jpg" alt="如果不曾爱你"><span>如果不曾爱你</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45210.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5cf0da565d445.jpg" alt="霸道首席来撩妻"><span>霸道首席来撩妻</span></a>
                    <i class="serial"></i>
                </li>
            </ul><ul class="clearfix" style="display: none;">

                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45253.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_yv3omejisrv.jpg" alt="绝色冷妃：王爷哪里逃"><span>绝色冷妃：王爷哪里逃</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45237.html" target="_blank"><img class="lazy" src="~/images/am0ckadbt42.jpg" alt="红颜醉骨，薄情似君"><span>红颜醉骨，薄情似君</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45224.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5cf0dff6a3ba4.jpg" alt="与君长恨：此爱已成霜"><span>与君长恨：此爱已成霜</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45219.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_utaafy4oi1h.jpg" alt="温顾而知清"><span>温顾而知清</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45217.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_qowee5k4s5r.jpg" alt="沉鱼落雁非倾国"><span>沉鱼落雁非倾国</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45213.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_2il11qcpzvv.jpg" alt="重生庶女成妃"><span>重生庶女成妃</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45206.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_p3tz4xg5eg3.jpg" alt="农门特工小娇妻"><span>农门特工小娇妻</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45197.html" target="_blank"><img class="lazy" src="~/images/053rg1twn5k.jpg" alt="赠你一场，相思成疾"><span>赠你一场，相思成疾</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45193.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_rvjlnefoy4e.jpg" alt="医女染霜华"><span>医女染霜华</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45176.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_umhrpzwt2c1.jpg" alt="穿越之残王毒妃"><span>穿越之残王毒妃</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45173.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_f4vlhwrttoh.jpg" alt="醉卧美人膝"><span>醉卧美人膝</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45164.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_rukb50w3oir.jpg" alt="邪王专宠小蛮妃"><span>邪王专宠小蛮妃</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45157.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_gpbbv3qbpxx.jpg" alt="大汉宫阙：盛世长公主"><span>大汉宫阙：盛世长公主</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45153.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_qv3lxho3v35.jpg" alt="邪皇御宠：娘子太狂野"><span>邪皇御宠：娘子太狂野</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45151.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_zuhyphpllk5.jpg" alt="逆天魔宠：冷妃谋天下"><span>逆天魔宠：冷妃谋天下</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45145.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_22wnvd3ivu3.jpg" alt="凤还巢：重生之朱门恶女"><span>凤还巢：重生之朱门恶女</span></a>
                    <i class="serial"></i>
                </li>
            </ul><ul class="clearfix" style="display: none;">

                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45220.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_zruv0evglb0.jpg" alt="终爱成殇"><span>终爱成殇</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45215.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_pcmwaw0lczz.jpg" alt="白枭翎"><span>白枭翎</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45149.html" target="_blank"><img class="lazy" src="~/images/xht3tgmpk2r.jpg" alt="爱在阳光正南方"><span>爱在阳光正南方</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45143.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_gn1kstgqtg2.jpg" alt="狐王来袭:盛宠独家冷妻"><span>狐王来袭:盛宠独家冷妻</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45107.html" target="_blank"><img class="lazy" src="~/images/ok4v3xnzvdj.jpg" alt="初婚微苦：爹地追妻不吃香"><span>初婚微苦：爹地追妻不吃香</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45101.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_ukbxe3thaka.jpg" alt="空降萌宝：总裁爹地，超强势"><span>空降萌宝：总裁爹地，超强势</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45033.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_3sn2btcnsxi.jpg" alt="不知相思不知情"><span>不知相思不知情</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45027.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5cef833be3602.jpg" alt="蝮青"><span>蝮青</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44995.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5cef707945ad4.jpg" alt="重生复仇名媛"><span>重生复仇名媛</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44961.html" target="_blank"><img class="lazy" src="~/images/5cef4cd49440a.jpg" alt="与你只有半生缘"><span>与你只有半生缘</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44907.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_2rscgnlum3k.jpg" alt="独家宠爱：总裁大人请小心"><span>独家宠爱：总裁大人请小心</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44884.html" target="_blank"><img class="lazy" src="~/images/vkjzgvs0cn5.jpg" alt="蚀骨情：贺先生，别乱来"><span>蚀骨情：贺先生，别乱来</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44827.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_zncblsodkux.jpg" alt="一吻契约，猫灵的守护者"><span>一吻契约，猫灵的守护者</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44789.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_tpkbem51tbk.jpg" alt="情之深处慕锦瑟"><span>情之深处慕锦瑟</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44742.html" target="_blank"><img class="lazy" src="~/images/todyjatwpw1.jpg" alt="城南花开情未眠"><span>城南花开情未眠</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44706.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_b3sqymakeh1.jpg" alt="原来是爱呀"><span>原来是爱呀</span></a>
                    <i class="serial"></i>
                </li>
            </ul><ul class="clearfix" style="display: none;">

                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45252.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_xbmqr3lx1zb.jpg" alt="盛世独宠：冷情总裁小蛮妻"><span>盛世独宠：冷情总裁小蛮妻</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45249.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_anu002531yy.jpg" alt="宠妻无度：陆少的千金大小姐"><span>宠妻无度：陆少的千金大小姐</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45248.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_avuxi02up5k.jpg" alt="亿万爹地宠不休"><span>亿万爹地宠不休</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45247.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_0eoc4500rpx.jpg" alt="婚途似锦：首席别乱来"><span>婚途似锦：首席别乱来</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45244.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_h5k32vg2mp1.jpg" alt="恶魔宝宝：敢惹我妈咪试试！"><span>恶魔宝宝：敢惹我妈咪试试！</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45241.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_oxziigkbwdb.jpg" alt="豪门婚情：吻安,陆太太"><span>豪门婚情：吻安,陆太太</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45238.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_1o1mrl1ddi0.jpg" alt="死里逃笙"><span>死里逃笙</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45225.html" target="_blank"><img class="lazy" src="~/images/5cf0dff6a3a0b.jpg" alt="以吻封缄，终生为祭"><span>以吻封缄，终生为祭</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45221.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_jcckfv2330p.jpg" alt="萌宠娇妻：总裁老公放肆爱"><span>萌宠娇妻：总裁老公放肆爱</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45216.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_4edqb51g0qe.jpg" alt="霸道老公宠妻上瘾"><span>霸道老公宠妻上瘾</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45201.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_01guxtm0gxw.jpg" alt="沉醉至此爱沦陷"><span>沉醉至此爱沦陷</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45189.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_l3mcran22yb.jpg" alt="后来，你比星光远"><span>后来，你比星光远</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45185.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_dbcfaphkp4x.png" alt="步步婚宠：总裁的刁蛮娇妻"><span>步步婚宠：总裁的刁蛮娇妻</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45183.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_uycbmvb34up.jpg" alt="点点星光的你"><span>点点星光的你</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45168.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_rklc2ahld4r.jpg" alt="亲爱哒，陆先生"><span>亲爱哒，陆先生</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45167.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_4rsvbkfel3w.jpg" alt="被总裁追债的日子"><span>被总裁追债的日子</span></a>
                    <i class="serial"></i>
                </li>
            </ul><ul class="clearfix" style="display: none;">

                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45169.html" target="_blank"><img class="lazy" src="~/images/3twjo2ii1b4.jpg" alt="冷王绝宠：弃妃要下堂"><span>冷王绝宠：弃妃要下堂</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44937.html" target="_blank"><img class="lazy" src="~/images/uehqe0tyhyp.jpg" alt="妃卿莫属：杠上冷血战神"><span>妃卿莫属：杠上冷血战神</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44933.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_mzldu3zokon.jpg" alt="神医弃女"><span>神医弃女</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44890.html" target="_blank"><img class="lazy" src="~/images/j5phi0pmae5.jpg" alt="傲世邪妃：误惹腹黑王爷"><span>傲世邪妃：误惹腹黑王爷</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44767.html" target="_blank"><img class="lazy" src="~/images/yc3tnlxi4ll.jpg" alt="医品狂妃：摄政王爷缠不停"><span>医品狂妃：摄政王爷缠不停</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44725.html" target="_blank"><img class="lazy" src="~/images/v3qtdqvbybm.jpg" alt="掉入异世界也要努力活下去"><span>掉入异世界也要努力活下去</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44616.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_pzmul5u32df.jpg" alt="穿越之魔帝狂宠纨绔妃"><span>穿越之魔帝狂宠纨绔妃</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44515.html" target="_blank"><img class="lazy" src="~/images/f5y22f4unio.jpg" alt="田园农女种田忙"><span>田园农女种田忙</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44514.html" target="_blank"><img class="lazy" src="~/images/ub5qdt00lfu.jpg" alt="邪王强宠倾城妃"><span>邪王强宠倾城妃</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44513.html" target="_blank"><img class="lazy" src="~/images/yq5rljlglye.jpg" alt="盛宠悍妃：邪王，别过火"><span>盛宠悍妃：邪王，别过火</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44510.html" target="_blank"><img class="lazy" src="~/images/uikj55ecxnu.jpg" alt="穿越之毒妃不好惹"><span>穿越之毒妃不好惹</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44413.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_wo0fhgc0lwt.jpg" alt="鬼医嫡女之毒妃倾城"><span>鬼医嫡女之毒妃倾城</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44383.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_vsvs5q3a5sq.jpg" alt="赌神皇后：嫡女惊华后宫"><span>赌神皇后：嫡女惊华后宫</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44346.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_nhexp441tzo.jpg" alt="芸汐传"><span>芸汐传</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44309.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_2j03bvrvk3s.jpg" alt="至尊小狂后：救驾100次"><span>至尊小狂后：救驾100次</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44302.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_4uw3wkd3que.jpg" alt="一品狂妃"><span>一品狂妃</span></a>
                    <i class="serial"></i>
                </li>
            </ul><ul class="clearfix" style="display: none;">

                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/37522.html" target="_blank"><img class="lazy" src="~/images/mntfpp2wia1.jpg" alt="掌前尘"><span>掌前尘</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/33694.html" target="_blank"><img class="lazy" src="~/images/nwyav0xbczr.jpg" alt="廉价替身"><span>廉价替身</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/33439.html" target="_blank"><img class="lazy" src="~/images/lwea1cuqwqd.jpg" alt="戏精王子"><span>戏精王子</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/33438.html" target="_blank"><img class="lazy" src="~/images/gnijdcw2mb1.jpg" alt="莫逆之交"><span>莫逆之交</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/33437.html" target="_blank"><img class="lazy" src="~/images/fdws0rsblr2.jpg" alt="你我来日方长"><span>你我来日方长</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/33433.html" target="_blank"><img class="lazy" src="~/images/mt0ep4t1pg2.jpg" alt="影伏"><span>影伏</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/33026.html" target="_blank"><img class="lazy" src="~/images/sfm4rmdcelo.jpg" alt="傲娇小叔不是受"><span>傲娇小叔不是受</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/32945.html" target="_blank"><img class="lazy" src="~/images/i3gypgw2iam.jpg" alt="霸道总裁的极品男宠"><span>霸道总裁的极品男宠</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/32944.html" target="_blank"><img class="lazy" src="~/images/1cx2ipk1sk3.jpg" alt="男神是个攻"><span>男神是个攻</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/30658.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_xhn1p3zvcpx.jpg" alt="庶女临门"><span>庶女临门</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/28393.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5c4e59b85487e.jpg" alt="死对头总想和我搞gay"><span>死对头总想和我搞gay</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/20918.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5beb799c9010b.jpg" alt="恋戒若相思"><span>恋戒若相思</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/16647.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5bcd6f1b3fc6b.jpg" alt="糙汉子与白面书生"><span>糙汉子与白面书生</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/11837.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5b9f27d32c47c.jpg" alt="还钱吧，酒保勇者"><span>还钱吧，酒保勇者</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/11794.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5b9e18fa32683.jpg" alt="重生之氪金玩家"><span>重生之氪金玩家</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/11143.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5b976e037b03b.jpg" alt="漫威世界的咸鱼"><span>漫威世界的咸鱼</span></a>
                    <i class="serial"></i>
                </li>
            </ul><ul class="clearfix" style="display: none;">

                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/42882.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_sfvg35miqyu.jpg" alt="逆乱青春"><span>逆乱青春</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/42776.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_twynr2ysavx.jpg" alt="痛青春"><span>痛青春</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/41762.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5cd255cb2d2d8.jpg" alt="暴发户式暗恋"><span>暴发户式暗恋</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/41640.html" target="_blank"><img class="lazy" src="~/images/5cd14c53ea48f.jpeg" alt="弯弯的甜"><span>弯弯的甜</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/41608.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5cd141d300533.jpeg" alt="爆炸想你[娱乐圈]"><span>爆炸想你[娱乐圈]</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/41258.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5ccea9a9b98a0.jpeg" alt="为有暗香来"><span>为有暗香来</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/41027.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_ahvzwqcoqzq.jpg" alt="魔魅校草惹不得"><span>魔魅校草惹不得</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/40824.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5cc7f16ad95c3.jpg" alt="夜访诡梦"><span>夜访诡梦</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/39092.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_mcm4fxwbuun.png" alt="青芒"><span>青芒</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/37421.html" target="_blank"><img class="lazy" src="~/images/c53rjgq5x0l.jpg" alt="男人不低头"><span>男人不低头</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/36734.html" target="_blank"><img class="lazy" src="~/images/sax4zke043w.jpg" alt="梦影紫风之琉璃醉"><span>梦影紫风之琉璃醉</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/34749.html" target="_blank"><img class="lazy" src="~/images/3afe25c6ddc9f03825e899c91b082c38.jpg" alt="校霸总是偷窥我"><span>校霸总是偷窥我</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/30839.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_e2yczsexvrs.jpg" alt="奈何时光终觉浅"><span>奈何时光终觉浅</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/30687.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5c6bb4b5c954d.jpg" alt="入狱后我被渣攻的白月光撩了"><span>入狱后我被渣攻的白月光撩了</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/30524.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5c6a7d761f96d.jpg" alt="总裁有种再跑"><span>总裁有种再跑</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/30515.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5c6a741707aa2.jpg" alt="[快穿]万人迷搜捕男神计划"><span>[快穿]万人迷搜捕男神计划</span></a>
                    <i class="serial"></i>
                </li>
            </ul><ul class="clearfix" style="display: none;">

                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45165.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_kfbipsuwcx4.jpg" alt="爆宠仙妃，天尊大人太磨人"><span>爆宠仙妃，天尊大人太磨人</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45159.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_0qzhygkcqgn.jpg" alt="倾世妖仙：冥尊大人狠纯情"><span>倾世妖仙：冥尊大人狠纯情</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45152.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_wqdvls35y3n.jpg" alt="三生三世：狐仙大人笑一个"><span>三生三世：狐仙大人笑一个</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45144.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_ewzbostugkd.jpg" alt="特种抢劫：妖孽狐王抱回家"><span>特种抢劫：妖孽狐王抱回家</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45133.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_hc30beduh1q.jpg" alt="南山有月"><span>南山有月</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44969.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_sk3ekilidng.jpg" alt="青影记"><span>青影记</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44957.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_oc05y5wmz3x.jpg" alt="断莲书"><span>断莲书</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44252.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_qyhup4raigv.jpg" alt="恭喜狐王，终于有崽了"><span>恭喜狐王，终于有崽了</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44228.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_3gcw2e0t3dk.jpg" alt="三生三世倾华梦"><span>三生三世倾华梦</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/43820.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_pj0yeqfztqw.jpg" alt="三生三世倾华梦"><span>三生三世倾华梦</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/43815.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5ce3b544839ee.jpg" alt="半神她超刚超凶"><span>半神她超刚超凶</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/43486.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_0kv4ibynbo5.jpg" alt="三生三世离人殇"><span>三生三世离人殇</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/43392.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_ipj2imtmtkm.jpg" alt="青丘陌上与君逢"><span>青丘陌上与君逢</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/43042.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_5uc35ljnei3.jpg" alt="红颜仙劫：双生禁术"><span>红颜仙劫：双生禁术</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/42778.html" target="_blank"><img class="lazy" src="~/images/thumb_200_266_w23ic2yqw1x.jpg" alt="苦海无涯回头是我"><span>苦海无涯回头是我</span></a>
                    <i class="serial"></i>
                </li>
                <li>
                    <a href="https://www.ertongtuku.com/yuedu/xiaoshuo/42603.html" target="_blank"><img class="lazy" src="~/images/tu4k0xdua1k.jpg" alt="女妖君的职业素养"><span>女妖君的职业素养</span></a>
                    <i class="serial"></i>
                </li>
            </ul>
        </div>
    </div>
    <!--/box4-->
    <!--box5-->
    <div class="wrap box5 clearfix">
        <div class="rank">
            <h3>推荐榜</h3>
            <ul>
                <li class="s1">
                    <em class="num">1</em>
                    <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45198.html" target="_blank"><img class="lazy" src="~/images/thumb_50_75_4sypzx2fzll.jpg" alt="拆房补婚，总裁请淡定"></a>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45198.html" target="_blank">拆房补婚，总裁请淡定</a></h5>
                    <p class="author">作者：月光</p>
                    <p class="status">状态：</p>
                </li>
                <li class="s2">
                    <em class="num">2</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45160.html" target="_blank">嗜宠成婚：惹火娇妻送上门</a></h5>
                </li>
                <li class="s3">
                    <em class="num">3</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45121.html" target="_blank">失婚妻子的逆袭</a></h5>
                </li>
                <li class="s4">
                    <em class="num">4</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44964.html" target="_blank">重生娇妻：古少一宠成瘾</a></h5>
                </li>
                <li class="s5">
                    <em class="num">5</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44931.html" target="_blank">都市酒神</a></h5>
                </li>
                <li class="s6">
                    <em class="num">6</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44902.html" target="_blank">从记忆深处来的你</a></h5>
                </li>
                <li class="s7">
                    <em class="num">7</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44782.html" target="_blank">黄天降世</a></h5>
                </li>
                <li class="s8">
                    <em class="num">8</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44728.html" target="_blank">战擎秦悄首长求轻宠</a></h5>
                </li>
                <li class="s9">
                    <em class="num">9</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44711.html" target="_blank">婚情告急：陆太太，别想逃</a></h5>
                </li>
                <li class="s10">
                    <em class="num">10</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44708.html" target="_blank">&nbsp;保护女总裁</a></h5>
                </li>
            </ul>
        </div>
        <div class="rank">
            <h3>人气榜</h3>
            <ul>
                <li class="s1">
                    <em class="num">1</em>
                    <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/959.html" target="_blank"><img class="lazy" src="~/images/thumb_50_75_5b06145d40a55.jpeg" alt="总裁爹地不好惹"></a>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/959.html" target="_blank">总裁爹地不好惹</a></h5>
                    <p class="author">作者：上官娆</p>
                    <p class="status">状态：</p>
                </li>
                <li class="s2">
                    <em class="num">2</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/810.html" target="_blank">宠爱无限：总裁的爱妻萌宝</a></h5>
                </li>
                <li class="s3">
                    <em class="num">3</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/1053.html" target="_blank">罪恶之花</a></h5>
                </li>
                <li class="s4">
                    <em class="num">4</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/339.html" target="_blank">和你诉说爱情</a></h5>
                </li>
                <li class="s5">
                    <em class="num">5</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/2624.html" target="_blank">神偷狂妃</a></h5>
                </li>
                <li class="s6">
                    <em class="num">6</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/3320.html" target="_blank">魔鬼游戏</a></h5>
                </li>
                <li class="s7">
                    <em class="num">7</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/12626.html" target="_blank">得说爱时必说爱</a></h5>
                </li>
                <li class="s8">
                    <em class="num">8</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/9871.html" target="_blank">罪爱</a></h5>
                </li>
                <li class="s9">
                    <em class="num">9</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/2177.html" target="_blank">逆天废柴</a></h5>
                </li>
                <li class="s10">
                    <em class="num">10</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/2961.html" target="_blank">天价前妻别想逃</a></h5>
                </li>
            </ul>
        </div>
        <div class="rank">
            <h3>女生榜</h3>
            <ul>
                <li class="s1">
                    <em class="num">1</em>
                    <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45171.html" target="_blank"><img class="lazy" src="~/images/thumb_50_75_cdbbthkumsz.jpg" alt="入戏太深：总裁很痴情"></a>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45171.html" target="_blank">入戏太深：总裁很痴情</a></h5>
                    <p class="author">作者：雪天吃雪糕</p>
                    <p class="status">状态：</p>
                </li>
                <li class="s2">
                    <em class="num">2</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45090.html" target="_blank">冷婚热爱：总裁的二手新妻</a></h5>
                </li>
                <li class="s3">
                    <em class="num">3</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45083.html" target="_blank">恶魔总裁</a></h5>
                </li>
                <li class="s4">
                    <em class="num">4</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45079.html" target="_blank">透视小医仙</a></h5>
                </li>
                <li class="s5">
                    <em class="num">5</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45073.html" target="_blank">试婚100天：心机总裁套路深</a></h5>
                </li>
                <li class="s6">
                    <em class="num">6</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45030.html" target="_blank">总裁独宠心尖宝</a></h5>
                </li>
                <li class="s7">
                    <em class="num">7</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45027.html" target="_blank">蝮青</a></h5>
                </li>
                <li class="s8">
                    <em class="num">8</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44994.html" target="_blank">荆棘中的爱</a></h5>
                </li>
                <li class="s9">
                    <em class="num">9</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44987.html" target="_blank">天降萌宝：总裁爹地放肆宠</a></h5>
                </li>
                <li class="s10">
                    <em class="num">10</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44914.html" target="_blank">总裁大人，慢慢来</a></h5>
                </li>
            </ul>
        </div>
        <div class="rank">
            <h3>男生榜</h3>
            <ul>
                <li class="s1">
                    <em class="num">1</em>
                    <a class="pic" href="https://www.ertongtuku.com/yuedu/xiaoshuo/45240.html" target="_blank"><img class="lazy" src="~/images/thumb_50_75_nd1i3irn2y2.jpg" alt="殿上欢"></a>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45240.html" target="_blank">殿上欢</a></h5>
                    <p class="author">作者：小酒轻狂</p>
                    <p class="status">状态：</p>
                </li>
                <li class="s2">
                    <em class="num">2</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45178.html" target="_blank">三国之水浒乱入</a></h5>
                </li>
                <li class="s3">
                    <em class="num">3</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45168.html" target="_blank">亲爱哒，陆先生</a></h5>
                </li>
                <li class="s4">
                    <em class="num">4</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45106.html" target="_blank">第一媒婆</a></h5>
                </li>
                <li class="s5">
                    <em class="num">5</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45049.html" target="_blank">名门天后：宠妻有度</a></h5>
                </li>
                <li class="s6">
                    <em class="num">6</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45045.html" target="_blank">我的徒弟，都是大佬</a></h5>
                </li>
                <li class="s7">
                    <em class="num">7</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45044.html" target="_blank">我活了五千多年</a></h5>
                </li>
                <li class="s8">
                    <em class="num">8</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45040.html" target="_blank">卷帘人依旧</a></h5>
                </li>
                <li class="s9">
                    <em class="num">9</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/45024.html" target="_blank">我将相思铸成牢</a></h5>
                </li>
                <li class="s10">
                    <em class="num">10</em>
                    <h5 class="tit"><a href="https://www.ertongtuku.com/yuedu/xiaoshuo/44942.html" target="_blank">蚀骨危情：总裁难辨真假妻</a></h5>
                </li>
            </ul>
        </div>
    </div>
    <!--/box4-->
    <!--friend-link-->
    <div class="wrap clearfix">
        <div class="friend-link">
            <h5>友情链接</h5>
            <ul class="clearfix">
                <li style="margin-bottom: 10px;"><a href="http://www.nanshiw.com/" title="怎样穿衣打扮" target="_blank">怎样穿衣打扮</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.zz21.com/" title="唯美句子" target="_blank">唯美句子</a></li>
                <li style="margin-bottom: 10px;"><a href="https://www.taiuu.com/" title="全本小说网" target="_blank">全本小说网</a></li>
                <li style="margin-bottom: 10px;"><a href="https://www.92kshu.com/" title="就爱看书网" target="_blank">就爱看书网</a></li>
                <li style="margin-bottom: 10px;"><a href="https://www.jipinxiaoshuo.com/" title="极品小说" target="_blank">极品小说</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.cn8fre.com/" title="班会课件" target="_blank">班会课件</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.58160.com/" title="欧巴小说网" target="_blank">欧巴小说网</a></li>
                <li style="margin-bottom: 10px;"><a href="https://www.lingyutxt.com/" title="灵域小说网" target="_blank">灵域小说网</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.bcty365.com/" title="白菜文学网" target="_blank">白菜文学网</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.jstxdm.com/" title="剑圣文学网" target="_blank">剑圣文学网</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.csrcode.cn/" title="仓鼠文学网" target="_blank">仓鼠文学网</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.lol123.net/" title="LOL小说网" target="_blank">LOL小说网</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.51qupu.com/" title="五一文学网" target="_blank">五一文学网</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.91dede.com/" title="91文学网" target="_blank">91文学网</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.zhuangji.cc/" title="装机小说网" target="_blank">装机小说网</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.mobantianxia.com/" title="模板文学网" target="_blank">模板文学网</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.mengchongzu.com/" title="萌宠族" target="_blank">萌宠族</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.ycsd.cn/" title="原创书殿" target="_blank">原创书殿</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.91dede.com/" title="91模板网" target="_blank">91模板网</a></li>
                <li style="margin-bottom: 10px;"><a href="http://www.vipreading.com/" title="VIP小说网" target="_blank">VIP小说网</a></li>
            </ul>
        </div>
    </div>
    <!--/friend-link-->
</div>
<script type="text/javascript">
    $(function () {
        $('#carousel1').carousel({ curDisplay: 0, autoPlay: false, interval: 3000 });
        $('#carousel2').carousel({ curDisplay: 0, autoPlay: false, interval: 3000 });
    });</script>
<script src="~/js/carousel.js"></script>
<script src="~/js/focus.js"></script>
<script>
    $(function () {
        $(".banner").slide({
            titCell: ".banner-nav li",
            mainCell: ".banner-img",
            autoPlay: true,
            titOnClassName: "selected",
        });
    });</script>
<!--/container-->

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ee895bd9613f8d26917ff438e7904477";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>

<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();</script>

<div class="bookshelf-mask" style="display: none;"></div><div class="bookshelf-panel" style="display: none;"><div class="bookshelf-head"><h4>我的书架(0本)</h4><a class="close" target="_self">关闭</a></div><div class="bookshelf-list"><ul class="clearfix"></ul></div></div>
